
body {
  background-color: #646464;
  font-family: sans-serif;
  margin: 0;
  font-size: 16px;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 20px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 20px;
  list-style: none;
  padding: 15px;
  margin: 0;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  font-size: 20px;
  color: #b7a363;
  font-family: "Arial", sans-serif;
  padding: 2px;
  border-radius: 10px;
  background-color: #282828;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #535050;
  border-radius: 10px;
  border: 2px solid #000000;
}

main {
  background-image: url("/Images/backgrounds/background.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  margin: 10px 0 20px;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
}

footer {
  background-color: #2c2b2b;
  color: #e7b309;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column; /* Adjusted to center content */
  align-items: center; /* Adjusted to center content */
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 64px;
  height: 64px;
}

#bitcoin-section {
  border: 2px solid #000000;
  background-color: #646464;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.blank-space img {
  max-width: 100%;
  max-height: 100%;
}

.blank-space {
  margin: 0 auto;
  height: auto;
  border: 2px solid #000000;
  background-color: #00000011;
  border-radius: 5px;
}
