/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #646464;
  font-family: sans-serif;
  font-size: 16px;
}

.logo {
  width: 150px;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav {
  margin-top: 20px;
  list-style: none;
  padding: 15px;
  text-align: center;
}

nav a {
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 10px;
  background-color: #535050;
  color: #b7a363;
  font-family: "Twitter Sans", sans-serif;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #2c2b2b;
}

/* Main content styles */
main {
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #000000;
  text-align: center;
  font-family: sans-serif;
}

.cart-items {
  border-radius: 15px;
  border: 4px solid #000000;
  padding: 10px;
  background-image: url("images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  background-color: #2c2b2b;
  color: #ff0000;
  margin-top: 20px;
}

.cart-items h2 {
  font-family: Georgia;
  color: #9ab763;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial;
  color: #9ab7631d;
}

.cart-table th,
.cart-table td {
  padding: 5px;
  font-family: sans-serif;
}

.cart-table th {
  border: 2px solid #191818;
  text-align: left;
  color: #b7a363;
}

.cart-table td {
  border: 1px solid #2c2b2b;
}

.shipping-info {
  border-radius: 20px;
  background-image: url("images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  border: 4px solid #000000;
  background-color: #2c2b2b;
  padding: 20px;
  margin-top: 20px;
  font-family: Georgia;
  color: #9ab763;
}

.shipping-info h2 {
  font-family: Verdana;
  margin: -15px 30px;
  color: #9ab763;
}

.shipping-info form {
  margin: 20px;
  padding: 0;
  font-family: "Times New Roman", sans-serif;
  color: #9ab763;
}

.shipping-info .input-group {
  margin-bottom: 20px;
}

.shipping-info label {
  display: block;
  font-size: 1rem;
  color: #b7a363;
  margin-bottom: 5px;
}

.shipping-info input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #252525;
  font-family: sans-serif;
  background-color: #9ab76315;
  color: #9ab763;
}

/* Payment container styles */
.payment-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2b2b;
  border-radius: 10px;
}

.payment-container div {
  padding: 5px;
  border: 1px solid #9ab763;
  border-radius: 5px;
  color: #9ab76349;
  font-family: sans-serif;
}

/* Footer styles */
footer {
  background-color: #2c2b2b;
  color: #e7b309;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.social-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-icons li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.social-icons li a img {
  width: 48px;
  height: 48px;
}

/* Bitcoin price styles */
.bitcoin-price {
  margin-top: 10px;
}

.bitcoin-box {
  border: 1px solid #9ab763;
  padding: 5px;
  border-radius: 5px;
  color: #9ab76349;
  font-family: sans-serif;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }

  .cart-items,
  .shipping-info {
    padding: 10px;
  }

  .shipping-info form {
    margin: 10px;
  }
}
