/* Background styles */
body {
  background-color: #646464;
  font-family: sans-serif;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

nav {
  margin-top: 20px;
  list-style: none;
  padding: 15px;
  margin: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  padding: 8px;
  border-radius: 10px;
  background-color: #535050;
  color: #9ab763;
  font-family: "Franklin Gothic Medium";
}

nav a:hover {
  background-color: #2c2b2b;
}

/* Main content styles */
main {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  margin: 30px;
  margin-bottom: 20px;
  color: #9ab763;
  font-family: sans-serif;
}

.cart-items {
  border-radius: 15px;
  border: 4px solid #000000;
  padding: 10px;
  font-family: sans-serif;
  background-image: url("/Shop/images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  background-color: #2c2b2b;
}

.cart-items h2 {
  font-family: Georgia;
  color: #000000;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial;
  color: #9ab763;
}

.cart-table th {
  padding: 5px;
  border: 2px solid #191818;
  text-align: left;
  color: #b7a363;
  font-family: sans-serif;
}

.cart-table td {
  padding: 5px;
  border: 1px solid #2c2b2b;
  font-family: sans-serif;
}

.shipping-info label {
  display: block;
  font-size: 16px; /* Adjust the font size as needed */
  color: #9ab763; /* Adjust the text color as needed */
  margin-bottom: 5px;
}

.shipping-info {
  border-radius: 20px;
  background-image: url("/Shop/images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  border: 4px solid #000000;
  background-color: #2c2b2b;
  padding: 40px;
  margin-top: 20px;
  font-family: Georgia;
}

.shipping-info h2 {
  font-family: Verdana;
  margin: -15px 30px;
  color: #9ab763;
}

.shipping-info form {
  margin: 50px;
  padding: 0;
  font-family: Times New Roman;
  color: #4a4a4a;
}

.shipping-info input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #9ab763;
  font-family: sans-serif;
  background-color: #9ab76367;
}

/* Payment container styles */
.payment-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2b2b;
  border-radius: 10px;
}

.payment-container div {
  padding: 5px;
  border: 1px solid #9ab763;
  border-radius: 5px;
  color: #9ab763;
  font-family: sans-serif;
}

/* Footer styles */
footer {
  background-color: #2c2b2b;
  color: #e7b309;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.social-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-icons li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.social-icons li a img {
  width: 64px;
  height: 64px;
}

.bitcoin-price {
  position: absolute;
  bottom: 20px;
  left: calc(10% + 2px); /* Adjust the distance from the left */
  font-family: sans-serif;
  color: #9ab763;
}
