/* Background styles */
body {
  background-color: #646464;
  font-family: sans-serif;
  margin: 0; /* Remove default margin */
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo-container {
  margin: 0 auto;
}

nav {
  list-style: none;
  padding: 15px;
  margin: 0;
  text-align: center;
}

nav a {
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
  background-color: #535050;
  color: #b7a363;
  font-family: "Franklin Gothic Medium";
  margin: 0 5px; /* Add some space between menu items */
}

/* Main content styles */
main {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  margin: 10px;
  margin-left: center;
  margin-bottom: 20px;
  color: #000000;
  font-family: sans-serif;
}

.cart-items {
  border-radius: 15px;
  border: 4px solid #000000;
  padding: 10px;
  font-family: sans-serif;
  background-image: url("/Shop/images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  background-color: #2c2b2b;
  color: #ff0000;
}

.cart-items h2 {
  font-family: Georgia;
  color: #9ab763;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial;
  color: #9ab7631d;
}

.cart-table th {
  padding: 5px;
  border: 2px solid #191818;
  text-align: left;
  color: #b7a363;
  font-family: sans-serif;
}

.cart-table td {
  padding: 5px;
  border: 1px solid #2c2b2b;
  font-family: sans-serif;
}

.shipping-info {
  border-radius: 20px;
  background-image: url("/Shop/images/backgrounds/shipping.png");
  background-size: cover;
  background-position: center;
  border: 4px solid #000000;
  background-color: #2c2b2b;
  padding: 20px;
  margin-top: 20px;
  font-family: Georgia;
  color: #9ab763; 
}

.shipping-info h2 {
  font-family: Verdana;
  margin: -15px 30px;
  color: #9ab763; /* Change this color to your desired text color */
}

.shipping-info form {
  margin: 20px; /* Adjust margin */
  padding: 0;
  font-family: Times New Roman;
  color: #9ab763;
}

.shipping-info .input-group {
  margin-bottom: 20px;
}

.shipping-info label {
  display: block;
  font-size: 16px;
  color: #b7a363; /* Change this color to your desired text color */
  margin-bottom: 5px;
}

.shipping-info input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #252525;
  font-family: sans-serif;
  background-color: #9ab76315;
  color: #9ab763; /* Change this color to your desired text color */
}

/* Payment container styles */
.payment-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2b2b;
  border-radius: 10px;
}

.payment-container div {
  flex: 0 0 48%; /* Set flex basis to 48% to allow some space between items */
  margin-bottom: 10px; /* Add space between items */
  padding: 5px;
  border: 1px solid #9ab763;
  border-radius: 5px;
  color: #9ab76349;
  font-family: sans-serif;
}

/* Footer styles */
footer {
  background-color: #2c2b2b;
  color: #e7b309;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #000000;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: space-between;
}

/* Social icon styles */
.social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 64px;
  height: 64px;
}

/* Bitcoin section styles */
#bitcoin-section {
  border: 2px solid #000000;
  background-color: #646464;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  /* Adjust styles for small screens here */
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0; /* Add some space between menu items */
  }

  .cart-table th,
  .cart-table td {
    font-size: 14px; /* Adjust font size for table on small screens */
  }

  .shipping-info form {
    margin: 10px; /* Adjust margin */
  }

  .payment-container div {
    flex: 0 0 100%; /* Set flex basis to 100% for full width on small screens */
  }

  .social-icons a {
    margin: 5px; /* Add some space between social icons on small screens */
  }
}
