body {
    background-color: #646464;
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .logo {
    margin: 0 auto;
    width: 150px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-link {
    font-size: 20px;
    color: #b7a363;
    font-family: "Arial", sans-serif;
    padding: 2px;
    border-radius: 10px;
    background-color: #282828;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #535050;
    border-radius: 10px;
    border: 2px solid #000000;
  }
  
  main {
    background-color: #646464; /* Simplified from background image to solid color */
    padding: 20px;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 10px 0 20px;
  }
  
  footer {
    background-color: #2c2b2b;
    color: #e7b309;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 64px;
    height: 64px;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 600px) {
    nav ul {
      display: block;
    }
    nav li {
      display: block;
      margin: 10px 0;
    }
    .header-content, .social-icons {
      flex-direction: column;
      align-items: center;
    }
  }
  