body {
  text-align: center;
  background-color: gray;
}
.header {
  display: block;
  margin: 0;
  padding: 5px;
  background-color: gray;
  background: gray;
  background-size: cover;
}

.button-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.button-list li {
  margin-right: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  /* Button background color */
  color: #fff;
  /* Button text color */
  text-decoration: none;
  border: 1px solid #0074d9;
  /* Button border color */
  border-radius: 5px;
  /* Rounded corners */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  /* Button background color on hover */
}

.logo-list-item {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.logo {
  width: 50px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
}
#score-container {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: white;
}